<div id="action-menu" class="my-4 mb-5">
  <!-- Action Buttons -->
  <div class="flex justify-between items-center">
    <div class="flex gap-2">
        {{ partial "posts/action-menu/comment-button" . }}
        {{ partial "posts/action-menu/webmention-button" . }}
        {{ partial "posts/action-menu/like-button" . }}
    </div>
    {{ partial "posts/action-menu/info-links" . }}
  </div>
  <div>
      {{ partial "posts/action-menu/comment-section" . }}
      {{ partial "posts/action-menu/webmention-section" . }}
  </div>
  <!-- Comment Count Display -->
  <div id="organ-farm" class="flex flex-wrap gap-4 hidden animate-duration-200"></div>
</div>
