<header class="pagefind-exclude
    md:flex md:justify-between mb-4">
  <!-- Logo & Title -->
  <div class="flex items-center justify-center gap-5
     md:flex-col md:items-start md:justify-start md:gap-2">
    {{ partial "components/logo" (dict "imageClass" "w-12 md:w-20 h-auto" "ctx" .) }}
    <a class="text-8 font-900 text-center tracking-widest
        xerox hover:no-underline"
        href="{{ .Site.LanguagePrefix }}/"
      >
          {{ if .IsHome }}
            {{ .Site.Title }}
          {{ else }}
            {{ if eq .Kind "term" }}
                {{ if eq .Data.Singular "tag" }}#{{ else }}+{{ end }}
            {{ end }}
            {{ .Title }}
          {{ end }}
      </a
    >
  </div>
  <!-- Navigation -->
  <div class="flex justify-center items-center gap-3 text-size-base
    md:flex-col md:items-end md:justify-start md:pl-6">
      {{ partial "header/navigation" . }}
      {{ partial "header/other-navigation" . }}
  </div>
</header>
